#overview-diagram {
   margin:0 auto;
   padding:0;
   display:block;
   fill:white;
}
.cost-bar{
	stroke-width: 1;
	shape-rendering: crispEdges;
   stroke:white;
}
.tick{
	stroke-width: 2;
	shape-rendering: crispEdges;
   stroke:white;
}

.baseline{
	stroke-width: 2;
	shape-rendering: crispEdges;
   stroke:white;
}

.name{
	text-anchor:middle;
}

.tag{
	text-anchor:middle;
	font-size: 20px;
}

.tooltip{
	text-anchor: middle;
}

.utility-bar{
   stroke:white;
   /*fill:red;*/
   stroke-width: 1;
	shape-rendering: crispEdges;
}
.connection-lines{
   stroke:LightGray;
   fill:none;
	shape-rendering: geometricPrecision;
}
.utilities-container .baseline{
	stroke-width: 1;
}
